* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    scroll-behavior: smooth;
    
}

.header_section {
    height: 80vh;
}

.body_section {
    height: 100%;
    overflow: hidden;
}

.image {
    position: absolute;
    width: 960px;
    height: 540px;
    transition: 400ms ease-in-out;

}

.slides_container {
    width: 960px;
    height: 540px;
    margin-left: 22%;
    margin-bottom: 50px;
    position: relative;
    display: block;
    overflow: visible;
}

.left_arrow {
    position: absolute;
    width: 25px;
    height: 25px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    top: 225px;
    left: -40px;
    transform: rotate(-135deg);
    margin-bottom: 200px;
}

.right_arrow {
    position: absolute;
    width: 25px;
    height: 25px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    right: -40px;
    top: 225px;
    transform: rotate(45deg);
    overflow-x: initial;
}

.slideshow {
    width: 960px;
    height: 540px;
    margin-bottom: 50px;
    position: relative;
    display: block;
    overflow-x: hidden;
}

.down_button {
    margin-top: 20px;
    float: right;
    color: rgb(160, 252, 179);
    margin-right: 200px;
    font-family: 'Libre Baskerville', serif;
    transition: 400ms linear;
    font-size: 25px;
    display: block;
    cursor: pointer;
}

body {
    background-color: coral;
    overflow: hidden;
}

.down_arrow {
    position: absolute;
    bottom: 50px;
    right: -60px;
    width: 25px;
    height: 25px;
    border-top: 2px solid #00ff37;
    border-right: 2px solid #00ff37;
    transform: rotate(135deg);
}

.row {
    margin-top: 200px
}

.sam {
    float: left;
    width: 500px;
    height: 500px;
    transition: 400ms ease-in-out;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
    width: 50%;
    overflow: hidden;
}

h1 {
    float: right;
    color: antiquewhite;
    font-family: 'Libre Baskerville', serif;
    transition: 400ms linear;
    font-size: 50px;
    width: 100%;
    text-align: right;
    padding-right: 200px;
}


.dot {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: rgb(182, 182, 182);
    position: relative;
    margin-left: 10px;
    top: -45px;
    display: inline-block;
}

.active {
    background-color: rgb(255, 255, 255); 
}

.law_img {
    float: right;
    height: 400px;
    width: auto;
    transition: 800ms ease-in-out;
    position: absolute;
    right: 0;
}

.text_wrap {
    width: 500px;
    margin-left: 50px;
    transform: translateX(200%);
    transition: 800ms ease-in-out;
}

.text_title {
    text-align: left;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}

.text_section {
    height: 90vh;
}

.paragraph {
    padding-top: 50px;
    margin-left: 5px; 
    font-family: 'Arimo';
    font-weight: 300;

}

.slider_div {
    margin-top: 50px;
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    height: 25px;
    width: 25%;
    background-color: #3d3d3d;
    margin-left: 32.5%;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background-color: aqua;
    cursor: pointer;
}

.images_div {
    overflow: visible;
    width: 282px;
    height: 400px;
    float: right;
}

.img_div {
    width: 50%;
    float: right;
}

.box {
    width: 282px;
    height: 500px;
    float: right;
    position: relative;
    overflow: hidden;
    transform: translateX(-400%);
    transition: 800ms ease-in-out;
}

.slider_text {
    margin-left: 32.5%;
    font-family: 'Roboto', sans-serif;
    color: rgb(58, 37, 37);
    margin-bottom: 10px;
    font-size: 20px;
}

.sticky_header {
    margin-top: -200px;
    position: fixed;
    background-color: rgba(210, 105, 30, 0.61);
    width: 100%;
    height: 50px;
}

.home_button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    width: 150px;
    height: 25px;
    margin-left: 5px;
    margin-top: 10px;
}