* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    scroll-behavior: smooth;
}

.header_section {
    height: 80vh;
}

.body_section {
    height: 80vh;
}

.down_button {
    margin-top: 20px;
    float: right;
    color: rgb(160, 252, 179);
    margin-right: 200px;
    font-family: 'Libre Baskerville', serif;
    transition: 400ms linear;
    font-size: 25px;
    display: block;
    cursor: pointer;
}

body {
    background-color: coral;
    overflow: hidden;
}

.row {
    margin-top: 200px
}

.sam {
    float: left;
    width: 500px;
    height: 500px;
    transition: 400ms ease-in-out;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
    width: 50%;
}

h1 {
    float: right;
    color: antiquewhite;
    font-family: 'Libre Baskerville', serif;
    transition: 400ms linear;
    font-size: 50px;
    width: 100%;
    text-align: right;
    padding-right: 200px;
}